{% extends "base.html" %}
{% load static %}
{% block title %}Ysera-GridBlog{% endblock title %}
{% block index %}
	<div class="main-content main-content-blog grid no-sidebar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-trail breadcrumbs">
						<ul class="trail-items breadcrumb">
							<li class="trail-item trail-begin">
								<a href="{% url "home" %}">Home</a>
							</li>
							<li class="trail-item trail-end active">
								Our blog
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="content-area content-blog col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="site-main">
						<h3 class="custom_blog_title capi">
							Our Blog
						</h3>
						<div class="blog-list grid-style">
							<div class="row">
								{% if results %}
								{% for i in results  %}
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<div class="blog-item">
										<div class="post-format">
												<img src="{{i.image.url}}" alt="img">
											
										</div>
										<div class="post-info">
											
											<h3 class="post-title">
												<a href="#">{{i.title}}</a>
											</h3>
											<div class="main-info-post">
												<p class="des">
													{{i.desc}}
												</p>
											</div>
											<div class="author-view">
												<div class="author">
													<div class="avt">
														<img src="{% static "images/avt-blog1.png" %}" alt="img">
													</div>
													<h3 class="name">
														{{i.author}}
													</h3>
												</div>
											<div class="category-blog">
												<a href="{{i.link}}">Shop Now</a>
											</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
								{% endif %}
							</div>
						</div>
						<div class="pagination clearfix style2">
                        <div class="nav-link">
                            {% if ifprev %}
                            <a href="{% url "blog" page=prevpage %}" class="page-numbers"><i class="icon fa fa-angle-left"
                                                                aria-hidden="true" style="color:red"></i></a>
                            {% else %}
                            <a href="javascript:void(0);" onclick="noPreviousPage()" class="page-numbers"><i class="icon fa fa-angle-left"
                                                                aria-hidden="true" ></i></a>
                            
                            {% endif %}
                            {% for i in page_range %}
                            {% if i == currentpage %}
                            <a href="{% url "blog" page=i %}" class="page-numbers current" >{{i}}</a>
                            {% else %}
                            <a href="{% url "blog" page=i %}" class="page-numbers" >{{i}}</a>
                            {% endif %}
                            {% endfor %}
                            {% if ifnext %}
                            <a href="{% url "blog" page=nextpage %}" class="page-numbers"><i class="icon fa fa-angle-right"
                                                                aria-hidden="true" style="color:red"></i></a>
                            {% else %}
                            <a href="javascript:void(0);" onclick="noNextPage()" class="page-numbers"><i class="icon fa fa-angle-right"
                                                                aria-hidden="true"></i></a>
                            {% endif %}
                        </div>
                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
    function noPreviousPage() {
        alert("No more previous pages available.");
    }
    function noNextPage() {
        alert("No more next pages available.");
    }
</script>
{% endblock index %}